.rfto-profile-section {
    padding: 1.5rem 4rem;
    background: var(--background-asset-1);
    .rfto-profile-container {
        width: 50%;
        margin: auto;

        .rfto-profile-header {
            display: flex;
            align-items: center;
            border-bottom: 1px solid var(--color-border);
            padding-bottom: 1rem;

            .rfto-profile-svg {
                background-color: #f0f9ff;
                padding: .312rem;
                border-radius: .312rem;
            }

            .rfto-profile-name-container {
                padding-left: .5rem;

                .rfto-profile-name {
                    color: var(--color-text-primary);
                }

                .rfto-profile-username {
                    color: var(--color-text-secondary);
                }
            }
        }

        .rfto-profile-body {

            .rfto-xp-card-container {
                margin-top: 1.5rem;
            }

            .rfto-leaderboard-container {
                margin-top: 1.5rem;

                // border: 1px solid var(--color-border);
                // padding: .5rem;
                .rfto-leaderboard-heading {
                    margin-bottom: .625rem;
                }

                .rfto-leaderboard-card-container {
                    .rfto-leaderboard-card {
                        background-color: var(--color-white);
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border: 1px solid var(--color-border);
                        padding: .625rem;
                        border-radius: .312rem;
                        margin-bottom: 1rem;

                        .rfto-leaderboard-level-left {
                            display: flex;
                            align-items: center;

                            .rfto-level-svg {
                                margin-right: .625rem;
                                display: flex;

                                .rfto-current-level {
                                    font-size: var(--font-medium);
                                    font-weight: 500;
                                    color: var(--color-text-primary);
                                }
                            }

                            .rfto-leaderboard-users {
                                display: flex;
                                align-items: center;

                                .rfto-leaderboard-user-icon {
                                    background-color: #f4f4f5;
                                    padding: .312rem;
                                    height: 1.872rem;
                                    width: 1.872rem;
                                    border-radius: 100%;
                                }

                                .rfto-leaderboard-user-name {
                                    margin-left: .612rem;

                                    h4 {
                                        font-size: var(--font-medium);
                                        color: var(--color-text-primary);
                                    }

                                    span {
                                        font-size: var(--font-small);
                                        color: var(--color-text-secondary);
                                    }
                                }
                            }

                        }

                        .rfto-leaderboard-level-right {
                            text-align: right;

                            h4 {
                                color: var(--color-text-primary);
                                font-size: var(--font-medium);
                            }

                            span {
                                font-size: var(--font-small);

                            }
                        }
                    }

                    .rfto-leaderboard-card-active{
                        border-color: var(--color-primary);
                    }
                }
            }

            .rfto-journey-container {
                margin-top: 1.5rem;

                // border: 1px solid var(--color-border);
                // padding: 0.5rem;
                .rfto-journey-header {
                    margin-bottom: .625rem;
                }

                .rfto-journey-data {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid var(--color-border);
                    margin-bottom: .625rem;
                    padding-bottom: .5rem;

                    .rfto-journey-heading {
                        font-size: var(--font-medium);
                        color: var(--color-text-secondary);
                    }

                    .rfto-journey-value {
                        font-weight: 500;
                        font-size: var(--font-medium);
                    }
                }
            }

            .rfto-reset-progress {
                margin-top: 1.5rem;

                .rfto-reset-heading {
                    margin-bottom: .625rem;
                }

                .rfto-reset-card {
                    border: 1px solid #fb1c1c;
                    padding: .625rem;
                    border-radius: .312rem;
                    .rfto-reset-para {

                        p {
                            color: var(--color-text-secondary);
                            font-size: var(--font-medium);
                            font-weight: 500;
                            margin-bottom: 0.5rem;
                            line-height: 1.2; 
                        }
                    }

                    .rfto-reset-button-container{
                        text-align: center;
                        .rfto-reset-button{
                            color: var(--color-white);
                            background-color:#fb1c1c;
                            border-radius: .312rem;
                            border: none;
                            padding: .612rem 1rem;
                            // width: 100%;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

    }

    .rfto-loading-container{
        display: flex;
        width: 100%;
        height: 70vh;
        justify-content: center;
        align-items: center;
    }
}