.rfto-home-container {
    background-color: var(--color-background);

    padding: 1.5rem 4rem;

    .rfto-card {
        flex: 1;
        padding: 1.25rem;
        border-radius: 1rem;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
            0 10px 10px -5px rgba(0, 0, 0, 0.04);
        background-color: var(--color-white);
        // margin-bottom: 2rem;
    }

    .rfto-home-card-container {
        display: flex;

        gap:1.5rem;

        .rfto-journal-card {
            background: linear-gradient(to bottom right, var(--prompt-gradient-start), var(--prompt-gradient-end));
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            position: relative;
            overflow: hidden;
            margin-bottom: 1.5rem;

            .rfto-glass-card {

                .rfto-daily-prompt-heading {
                    color: var(--color-text-primary);
                    font-weight: 600;
                    font-size: 1.87rem;
                }

                .rfto-daily-prompt {
                    font-size: var(--font-large);
                    font-weight: 500;
                    margin: 1rem 0px;
                    color: var(--color-text-primary);
                }
            }

            .rfto-start-journal-btn {
                background-color: var(--color-primary);
                border: none;
                padding: .725rem 2.5rem;
                border-radius: .312rem;
                color: var(--color-white);
                font-weight: 600;
                font-size: var(--font-large);
                cursor: pointer;
                display: flex;
                align-items: center;


                span {
                    margin-right: 5px;
                }

                transition: .3s ease-in-out;

                &:hover {
                    background-color: var(--color-primary-hover);
                }
            }


        }

        .rfto-goal-card {
            // min-height: 18.75rem;
            height: calc(100% - 3rem);
            display: flex;
            flex-direction: column;
            .rfto-card-header {
                padding-bottom: .625rem;
                border-bottom: 1px solid var(--color-border);

                .rfto-card-heading {
                    color: var(--color-text-primary);
                    font-size: var(--font-xl);
                    font-weight: 600;
                }

                .rfto-date-current {
                    color: var(--color-text-secondary);
                }
            }

            .rfto-card-body {
                flex: 1;
                .rfto-goal-item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: var(--color-background);
                    padding: .5rem;
                    border-radius: .312rem;
                    margin: .75rem 0px;
                    border: 1px solid var(--color-border);

                    .rfto-goal-checkbox-container {
                        display: flex;
                        align-items: center;

                        .rfto-goal-label {
                            margin-left: 0.185rem;
                            font-size: var(--font-medium);
                            color: var(--color-text-primary);
                            font-weight: 400;
                            cursor: pointer;
                        }
                    }

                    .rfto-goal-delete-icon {
                        cursor: pointer;
                    }
                }
            }

            .rfto-card-footer {
                .rfto-new-goal-form {
                    display: flex;

                    .rfto-new-goal-input {
                        border: 1px solid var(--color-border);
                        padding: .5rem;
                        flex: 1;
                        border-radius: .312rem;

                        &:focus {
                            outline: none;
                            border-color: var(--color-primary);
                        }
                    }

                    .rfto-new-goal-btn {
                        display: flex;
                        align-items: center;
                        background-color: var(--color-primary);
                        border: none;
                        border-radius: .312rem;
                        margin-left: .5rem;
                        cursor: pointer;
                        transition: .3s ease-in-out;

                        &:hover {
                            background-color: var(--color-primary-hover);
                        }
                    }
                }
            }
        }

        .rfto-left-flex-container{
            display: flex;
            gap: 1.5rem;
        }

        .rfto-level-card{
            .rfto-card-header{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .rfto-level-info-container{
                    display: flex;
                    .rfto-level-info{
                        margin-left: 0.312rem;
                    }
                }

                .rfto-level-tag-container{
                    display: flex;
                    border: 1px solid var(--color-border);
                    padding: .312rem;
                    border-radius: 1rem;
                    .rfto-level-tag{
                        font-size: .625rem;
                        font-weight: 500;
                        margin-left: .15rem;
                    }
                }
            }
              .rfto-xp-progress-container{
                margin: .5rem 0px;
                    .rfto-xp-progress-header{
                        display: flex;
                        justify-content: space-between;
                        span{
                            font-size: var(--font-small);
                            font-weight: 500;
                        }
                    }

                    .rfto-xp-progressbar{
                        margin: .25rem 0px;
                           text-align: center;
                        .rfto-xp-progressbar-nextlevel{
                            font-size: var(--font-small);
                            font-weight: 500;
                            color: var(--color-primary);
                         
                        }
                    }

                    .rfto-overview-card-container{
                        margin-top: .625rem;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: .625rem;

                        .rfto-overview-card{
                            border: 1px solid var(--color-border);
                            padding: .312rem;
                            display: flex;
                            align-items: center;
                            .rfto-overview-details{
                                padding-left: .312rem;
                                .rfto-overview-count{
                                    font-size: 1.3rem;
                                }

                                .rfto-overview-heading{
                                    font-size: var(--font-small);
                                    color: var(--color-text-secondary);
                                }
                            }
                        }
                    }
                }
        }

        .rfto-mood-card {
            display: flex;
            align-items: center;

            .rfto-mood-svg {

                margin: auto;
            }
        }

        .rfto-home-left-container{
            flex: 1;
        }
        .rfto-home-right-container{
            flex: 1;
        }
    }

}

