:root {
    --color-primary: #78350f;
    --color-primary-hover: #78360fbb;
    --color-secondary: #b45309;
    --color-accent: #fb7185;
    --color-white: #fff;
    --color-text-primary: #1e293b;
    --color-text-secondary: #64748b;
    --color-background: #fffbeb;
    --color-surface: #ffffff;
    --color-border: #d97706;
    --gradient-primary-start: #78350f;
    --gradient-primary-end: #a78bfa;
    --gradient-secondary-start: #bae6fd;
    --gradient-secondary-end: #7dd3fc;
    --gradient-accent-start: #fecdd3;
    --gradient-accent-end: #fb7185;

    --prompt-gradient-start: #af704c;
    --prompt-gradient-end: #78350f;


    --font-small: 0.75rem;
    --font-medium: 0.875rem;
    --font-large: 1rem;
    --font-xl: 1.25rem;

    //background-asset-1
    --background-asset-1: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23a6c8e6' fill-opacity='0.1'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}