<section class="rfto-calendar-container">

    <div class="rfto-calendar-btn-container">
        <span class="rfto-btn-lg-pink">📅 Your Journey</span>
    </div>

    <div class="rfto-journey-header">
        <h1>Calendar & Streaks</h1>
        <p>Track your consistency and celebrate your progress</p>
    </div> 
    @if(loading()){
    <div class="rfto-calendar-card-container">
        <div class="rfto-card rfto-blue-card rfto-calendar-content">
            <div class="calendar-controls">
              <app-skeleton color="rfto-blue" height="2.2rem" width="10rem"></app-skeleton>
            <app-skeleton color="rfto-blue" height="2.2rem" width="5rem"></app-skeleton>    
            </div>

            <div class="calendar-header-days">
                <div *ngFor="let day of weekDays" class="day-header">{{ day }}</div>
            </div>

            <div class="calendar-days">
                @for(day of [].constructor(42); track $index){
                    <div class="calendar-day">
                        <app-skeleton color="rfto-blue" height="4.2rem" width="100%"></app-skeleton>
                    </div>
                }
            </div>
            <div class="rfto-card rfto-orange-card rfto-legend-card">
                <div class="rfto-card-header">
                    <app-skeleton color="rfto-yellow" height="1.5rem" width="10rem"></app-skeleton>  
                </div>
                <div class="rfto-card-body">
                    <div class="rfto-card-legend-container">
                         <app-skeleton color="rfto-yellow" height="1rem" width="10rem"></app-skeleton>    
                    </div>
                    <div class="rfto-card-legend-container">
                        <app-skeleton color="rfto-yellow" height="1rem" width="10rem"></app-skeleton>  
                    </div>
                    <div class="rfto-card-legend-container">
                        <app-skeleton color="rfto-yellow" height="1rem" width="10rem"></app-skeleton>  
                    </div>
                    <div class="rfto-card-legend-container">
                        <app-skeleton color="rfto-yellow" height="1rem" width="10rem"></app-skeleton>  
                    </div>
                    <div class="rfto-card-legend-container">
                        <app-skeleton color="rfto-yellow" height="1rem" width="10rem"></app-skeleton>  
                    </div>
                    <div class="rfto-card-legend-container">
                        <app-skeleton color="rfto-yellow" height="1rem" width="10rem"></app-skeleton>  
                    </div>
                </div>
            </div>
        </div>
    </div>
    } @else{
    <div class="rfto-calendar-card-container" @slideUpIn>
        <div class="rfto-card rfto-blue-card rfto-calendar-content">
            <div class="calendar-controls">
                <select [(ngModel)]="currentMonth" (change)="generateCalendar()">
                    <option *ngFor="let m of monthList; index as i" [value]="i">{{ m }}</option>
                </select>

                <select [(ngModel)]="currentYear" (change)="generateCalendar()">
                    <option *ngFor="let y of yearList" [value]="y">{{ y }}</option>
                </select>
            </div>

            <div class="calendar-header-days">
                <div *ngFor="let day of weekDays" class="day-header">{{ day }}</div>
            </div>

            <div class="calendar-days">
                <div *ngFor="let day of calendarDays()" class="calendar-day" [class.other-month]="!day.isCurrentMonth"
                    (click)="redirect(day)" [class.today]="day.isToday">
                    <div class="day-number">{{ day.date }}</div>
                    <div class="day-content">
                        @if(day.daily_login && day.self_reflection && day.mood && day.journal && day.tasks){
                        <span>🌟</span>
                        }@else{
                        @if(day.daily_login){
                        <span>🔥</span>
                        }
                        @if(day.journal){
                        <span>📝</span>
                        }
                        @if(day.self_reflection){
                        <span>🤔</span>
                        }
                        @if(day.tasks){
                        <span>🎯</span>
                        }
                        @if(day.mood){
                        <span>😊</span>
                        }
                        }
                    </div>
                </div>
            </div>
            <div class="rfto-card rfto-orange-card rfto-legend-card">
                <div class="rfto-card-header">
                    <h1>Legend:</h1>
                </div>
                <div class="rfto-card-body">
                    <div class="rfto-card-legend-container">
                        <span>🌟 Complete Day</span>
                    </div>
                    <div class="rfto-card-legend-container">
                        <span>🔥 Daily Login</span>
                    </div>
                    <div class="rfto-card-legend-container">
                        <span>📝 Journal</span>
                    </div>
                    <div class="rfto-card-legend-container">
                        <span>🤔 Reflection</span>
                    </div>
                    <div class="rfto-card-legend-container">
                        <span>😊 Mood</span>
                    </div>
                    <div class="rfto-card-legend-container">
                        <span>🎯 Task</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }


</section>