@if(!loading()){
<div class="rfto-notebook-container">
  <div class="rfto-notebook-page">
    <div class="rfto-loading">
      <app-saving-loading></app-saving-loading>
    </div>
    @if(!isEncrypted()){
    <div class="rfto-spiral-holes">
      <div class="rfto-hole" *ngFor="let hole of getHoleArray(); trackBy: trackByIndex"></div>
    </div>
  }

    <div class="rfto-margin-line"></div>

    <div class="rfto-page-header">
      <h1 class="rfto-journal-title">My Journal</h1>
      <div class="rfto-date">{{ currentDate() }}</div>
    </div>

    @if(isEditor() && !isEncrypted()){
    <div class="rfto-writing-area">
      <div class="rfto-editor-menu-container">
        <ngx-editor-menu [editor]="editor"></ngx-editor-menu>
        <app-saving-loading [isLoading]="isSaving()" [isUpdated]="!isSaving()"
          [updatedAt]="updatedAt()"></app-saving-loading>
      </div>
      <ngx-editor [editor]="editor" [ngModel]="journalText()" (ngModelChange)="onTextChange($event)"
        [placeholder]="'Type here...'"></ngx-editor>
    </div>
    } @else if(isEncrypted() && isNewEntry()){
    <div class="rfto-passphrase-container">
      <div class="rfto-passphrase-headings">
        <h3>Set a passphrase to secure this entry.</h3>
        <p>Only you will know this passphrase. Use it again to unlock or edit your entry</p>
      </div>
      <div class="rfto-passphrase-input-container">
        <input placeholder="Enter passphrase" [ngModel]="passphraseText()" (ngModelChange)="onPassphraseInput($event)"
          type="text" class="rfto-passphrase-input" />
      </div>
      <div class="rfto-passphrase-button">
        <button (click)="lockUnlockContent()">Lock</button>
      </div>
      <div class="rfto-passphrase-note">
        <p>"For your privacy, your passphrase is never stored with us. This means only you can
          unlock your entry. If you forget it, not one (including us) can recover it."</p>
      </div>
    </div>
    } @else if(isEncrypted() && !isNewEntry()) {
    <div class="rfto-passphrase-container">
      <div class="rfto-passphrase-headings">
        <h3>Enter your passphrase to unlock this entry.</h3>
        <p>This is the same passphrase you set when creating it.</p>
      </div>
      <div class="rfto-passphrase-input-container">
        <input placeholder="Enter passphrase" [ngModel]="passphraseText()" (ngModelChange)="onPassphraseInput($event)"
          type="text" class="rfto-passphrase-input" />
      </div>
      <div class="rfto-passphrase-button">
        <button (click)="lockUnlockContent()">Unlock</button>
      </div>
      <div class="rfto-passphrase-note">
        <p>"For your privacy, your passphrase is never stored with us. This means only you can
          unlock your entry. If you forget it, not one (including us) can recover it."</p>
      </div>
    </div>
    }
  </div>
</div>
}
@else{
<div class="rfto-notebook-container">
  <div class="rfto-notebook-page">
    <div class="rfto-loading">
      <app-saving-loading></app-saving-loading>
    </div>
          <div class="rfto-spiral-holes">
      <div class="rfto-hole" *ngFor="let hole of getHoleArray(); trackBy: trackByIndex"></div>
    </div>

    <div class="rfto-margin-line"></div>

    <div class="rfto-page-header">
      <div class="rfto-loading-container">
        <app-skeleton color="rfto-green" height="2.5rem" width="10.12rem"></app-skeleton>
      </div>
      <div class="rfto-date">
        <app-skeleton color="rfto-green" height="1.5rem" width="15.12rem"></app-skeleton>
      </div>
    </div>


    <div class="rfto-writing-area">
      <div class="rfto-loading-container">
        <app-skeleton color="rfto-green" height="1.5rem" width="80%"></app-skeleton>
      </div>
      <div class="rfto-loading-container">
        <app-skeleton color="rfto-green" height="1.5rem" width="40%"></app-skeleton>
      </div>
      <div class="rfto-loading-container">
        <app-skeleton color="rfto-green" height="1.5rem" width="60%"></app-skeleton>
      </div>
      <div class="rfto-loading-container">
        <app-skeleton color="rfto-green" height="1.5rem" width="30%"></app-skeleton>
      </div>
      <div class="rfto-loading-container">
        <app-skeleton color="rfto-green" height="1.5rem" width="50%"></app-skeleton>
      </div>
      <div class="rfto-loading-container">
        <app-skeleton color="rfto-green" height="1.5rem" width="40%"></app-skeleton>
      </div>
      <div class="rfto-loading-container">
        <app-skeleton color="rfto-green" height="1.5rem" width="70%"></app-skeleton>
      </div>
      <div class="rfto-loading-container">
        <app-skeleton color="rfto-green" height="1.5rem" width="30%"></app-skeleton>
      </div>
      <div class="rfto-loading-container">
        <app-skeleton color="rfto-green" height="1.5rem" width="80%"></app-skeleton>
      </div>
      <div class="rfto-loading-container">
        <app-skeleton color="rfto-green" height="1.5rem" width="40%"></app-skeleton>
      </div>
      <div class="rfto-loading-container">
        <app-skeleton color="rfto-green" height="1.5rem" width="60%"></app-skeleton>
      </div>
      <div class="rfto-loading-container">
        <app-skeleton color="rfto-green" height="1.5rem" width="30%"></app-skeleton>
      </div>
      <div class="rfto-loading-container">
        <app-skeleton color="rfto-green" height="1.5rem" width="50%"></app-skeleton>
      </div>
      <div class="rfto-loading-container">
        <app-skeleton color="rfto-green" height="1.5rem" width="40%"></app-skeleton>
      </div>
      <div class="rfto-loading-container">
        <app-skeleton color="rfto-green" height="1.5rem" width="70%"></app-skeleton>
      </div>
      <div class="rfto-loading-container">
        <app-skeleton color="rfto-green" height="1.5rem" width="30%"></app-skeleton>
      </div>
    </div>

  </div>
</div>
}