.rfto-reflection-container {
    .rfto-entry-btn-container {
        display: flex;
        justify-content: center;
    }

    .rfto-time-container {
        text-align: center;
        margin-top: 1rem;

        h1 {
            font-size: var(--font-xl);
            color: var(--color-primary);
        }

        p {
            margin-top: .3rem;
            font-size: var(--font-medium);
            color: var(--color-secondary);
        }
    }

    .rfto-reflection {
        display: flex;
        margin-top: 3rem;
        gap: 2rem;

        .rfto-reflection-section {
            flex: 1;

            .rfto-card {
                .rfto-header {
                    display: flex;
                    justify-content: space-between;

                    .rfto-header-content {
                        display: flex;
                        align-items: center;
                        gap: .312rem;
                    }
                }
            }
        }

        .rfto-reflection-input {
            flex: 2;
            .rfto-header{
                .rfto-header-content{
                    h1{
                        color: var(--color-primary);
                    }

                    p{
                        color: var(--color-secondary);
                        font-size: var(--font-medium);
                    }
                }
            }
            .rfto-body {
                position: relative;
                margin-top: 1rem;
            }

            .rfto-lines-container {
                position: absolute;
                width: 100%;
                z-index: 1;

                .rfto-line {
                    margin-top: 1rem;
                    border-top: 1px solid #bfdbfe;
                }
            }

            .rfto-input {
                position: relative;
                z-index: 10;
                width: 100%;
                min-height: 20rem;
                max-height: 20rem;
                background-color: transparent;
                border: none;
                outline: none;
            }

        }

        .rfto-reflection-prompts{
            .rfto-card-header{
                h1{
                    display: flex;
                    align-items: center;
                    gap: .312rem;
                    color: var(--color-primary);
                }
            }

            .rfto-card-body{
                .rfto-prompts{
                    border-left: 4px solid var(--color-border-purple);
                    background-color: #f3e8ff;
                    padding: 1rem;
                    margin-top: 1rem;
                    color: var(--color-primary);
                    font-weight: 500;
                    cursor: pointer;
                }
            }

            .rfto-writing-stats{
                margin-top: 2rem;

                .rfto-card-body{
                    display: flex;
                    
                    .rfto-day-streak{
                        flex: 1;
                        margin-top: 1rem;
                        text-align: center;
                        h1{
                            color: var(--color-primary);
                        }
                        p{
                            color: var(--color-secondary);
                            font-size: var(--font-medium);
                        }
                    }
                }
            }
        }


    }
}